/** common **/
.right-pane{
    -fx-background-color: #f2f2f2;
    -fx-spacing: 25px;
    -fx-alignment: center;
    -fx-max-height: 1080px;
    -fx-pref-width: 200px;
}
.right-pane .button{
    -fx-base: #77acff;
}


.xinrong-background{
    -fx-background-image: url("../resource/icon/background.png");
    -fx-background-color: white;
}

/** main panel right side **/
#input-pane{
    -fx-background-color: #f2f2f2;
}
#menuBar{
    -fx-background-color: #ffffff;
}
.label{
    -fx-text-fill: #000000;
}
.error-msg{
    -fx-text-fill: #ff3f19;
}
#input-pane .button{
    -fx-base: #fff;
}
#input-pane .choice-box {
    -fx-base: #77acff;
}
#input-pane .choice-box .label{
    -fx-text-fill: #fdfbff;
}
#double-toggle{
    -fx-text-fill: #fdfbff;
    -fx-base: #77acff;
}
#input-vbox{
    -fx-alignment:center;
}
/** main panel right side  end **/
/** main panel center side  end **/

#result-value-pane .label{
    -fx-font-family:monospace;
    -fx-font-size: 14;
    -fx-text-fill: #5d5d5d;
}
#result-value-pane .result-value{
    -fx-text-fill: #0b79ee;
}
#formula-pane .result-value{
    -fx-text-fill: #0b79ee;
}
.result-button{
    -fx-text-fill: #fdfbff;
    -fx-base: #77acff;
    -fx-opacity: 0.7;
}
/** main panel center side  end **/
/** year panel    end **/
.year-rate-del{
    -fx-graphic: url("../resource/icon/del.png");
    -fx-base: #f2f2f2;
}

/** year panel    end **/